*{
    margin: 0%;
    padding: 0%;
}
body{
    background: linear-gradient(to top, blueviolet, rgb(160, 74, 240), #ffc4e5, #ffa6d8);
}
h1{
    text-align: center;
}
h3{
    color: black;
}
h4{
    color: #753675;
}
#titulo{
    color: white;
}
/*Contenedor padre*/
.Contenedorvelas{
    width: 70%;
    max-width: 80vw;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
        "Nombre Nombre1 Nombre2 Nombre3"
        "Imagenes Imagenes1 Imagenes2 Imagenes3"
        "Precio Precio1 Precio2 Precio3";
    gap: 10px;
    justify-items: center;
}
/*Contenedor hijo*/
.Contenedor{
    width: 100%;
    height: 30vh;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Contenido de los contenedores*/
.Nombre{
    grid-area: Nombre;
}
.Nombre1{
    grid-area: Nombre1;
}
.Nombre2{
    grid-area: Nombre2;
}
.Nombre3{
    grid-area: Nombre3;
}
.Imagenes{
    grid-area: Imagenes;
    transition: all 1s ease-in;
}
.Imagenes:hover{
    transform: scale(1.2, 1.3);
}
.Imagenes1{
    grid-area: Imagenes1;
    transition: all 3s ease;
}
.Imagenes1:hover{
    transform: rotate(360deg);
}
.Imagenes2{
    grid-area: Imagenes2;
    transition: all 1s ease-in;
}
.Imagenes2:hover{
    transform: scale(1.2, 1.3);
}
.Imagenes3{
    grid-area: Imagenes3;
    transition: all 3s ease;
}
.Imagenes3:hover{
    transform: rotate(360deg);
}
.Precio{
    grid-area: Precio;
    
}
.Precio1{
    grid-area: Precio1;
}
.Precio2{
    grid-area: Precio2;
}
.Precio3{
    grid-area: Precio3;
}
.img{
    width: 195px;
}

@media(max-width: 600px){
    .Contenedorvelas{
       
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 
            "Nombre Nombre1"
            "Imagenes Imagenes1"
            "Precio Precio1"
            "Nombre2 Nombre3"
            "Imagenes2 Imagenes3"
            "Precio2 Precio3";
    }
    .Imagenes{
        grid-area: Imagenes;
        transition: all 1s ease-in;
    }
    .Imagenes:hover{
        transform: scale(1.2, 1.3);
    }
    .Imagenes1{
        grid-area: Imagenes1;
        transition: all 3s ease;
    }
    .Imagenes1:hover{
        transform: rotate(360deg);
        opacity: .2;
    }
    .Imagenes3{
        grid-area: Imagenes3;
        transition: all 2s ease;
    }
    .Imagenes3:hover{
        opacity: .2;
    }
}
